/docs
Documentation.lnk
/LevelHEngine/Debug
/LevelHEngine/log.txt
/Debug/LevelHEngine.pdb
/Debug/LevelHEngine.exe
/Debug/LevelHEngine.ilk
/Debug/Assets
/LevelHEngine.VC.db
/LevelHEngine.VC.VC.opendb
/Debug/LevelHEngine.exp
/Debug/LevelHEngine.lib
/LevelHEngine/Assets/aud
/LevelHEngine/Assets/img
/LevelHEngine/Assets/obj
/Release
/LevelHEngine/Release
/LevelHEngine/Assets/font
/LevelHEngine/Screenshots/*.png
